.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  border: 16px solid #000000;
  font-family: 'Ubuntu Mono', monospace;
}

/* { transition: .75s; }; */ 
@keyframes flicker
{
0% {opacity:0;}
9% {opacity:0;}
10% {opacity:.5;}
13% {opacity:0;}
20% {opacity:.5;}
25% {opacity:1;}
}
@keyframes flicker-out
{
0% {opacity:1;}
9% {opacity:.5;}
10% {opacity:0;}
13% {opacity:.5;}
20% {opacity:0;}
100% {opacity:0;}
}

 @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap'); /* this is somewhere else */
/*this is warning stripe css*/
/* For positioning an element at the top of the screen */
.top {
  position: fixed;
  top: -1000px;
  left: 0;
  
}

/* For positioning an element at the bottom of the screen */
.bottom {
  position: fixed;
  bottom: -1000px;
  left: 0;
}

.strip {
  font-family: 'Ubuntu Mono', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 200vw;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: yellow;
  padding: 10px 0;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -0%);
  overflow: hidden;
  transition: 0.5s;
  z-index: 100;
}
.word {
  padding: 0px 10px;
  font-family: var(--font-fam);
  text-transform: uppercase;
  font-size: 4vmin;
  font-weight: 600;
  animation: strapmove 5s linear infinite backwards;
  user-select: none;
  text-wrap: nowrap;
}
.bottom > .word {animation: strapmovereversed 5s linear infinite backwards;}
@keyframes strapmove {
  0% {
    transform: translate(0%);
  }
  100% {
    transform: translate(300%);
  }
}
@keyframes strapmovereversed {
  0% {
    transform: translate(0%);
  }
  100% {
    transform: translate(-300%);
  }
}
#systempopuptitle, #systempopupaction, #systempopupmessage{animation: 2s ease 0s 1 normal none running flicker;
  font-family: "Ubuntu Mono", monospace;
  font-size: 4em;
  animation: flicker 2s;
}
