@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');
/* Custom CSS */
.-emu-layout body.-emu .dialog .dialog-content {
    padding: 0;
    padding-block-start:0;
    }
    .-emu-layout body.-emu .dialog div.dialog-content{
    padding-block-start:0;
    }
    h1{
    border-bottom:0;
    border-block-end-width: 0;}
    h2{
    border-bottom:0;
    border-block-end-width: 0;}
    .-emu-layout body.-emu #sidebar h1, .-emu-layout body.-emu .dialog h1, .-emu-layout body.-emu .window-app:not(.-emu-clean-sheet) h1{
        border-block-end-width: 0px;
    }
    .-emu-layout body.-emu .dialog div.dialog-content{padding:0;}
.tilecontainer > h1.centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    border-block-end-style: none;  
    color: black;
    position: absolute;  
}
.redacted span {
    position: relative;
    white-space: pre;
    &:after {
      background: black;
      border-radius: 0.1em;
      box-shadow: 0 0 1px rgba(0,0,0,0.35);
      content: " ";
      width: 100%;
      height: 1.2em;
      left: 0;
      position: absolute;
      /* transform: skewY(-5deg) rotate(5deg); */
    }
  }
