/* Custom CSS */
.-emu-layout body.-emu .dialog .dialog-content {
    padding: 0;
    padding-block-start:0;
    }
    .-emu-layout body.-emu .dialog div.dialog-content{
    padding-block-start:0;
    }
    h1{
    border-bottom:0;
    border-block-end-width: 0;}
    h2{
    border-bottom:0;
    border-block-end-width: 0;}
    .-emu-layout body.-emu #sidebar h1, .-emu-layout body.-emu .dialog h1, .-emu-layout body.-emu .window-app:not(.-emu-clean-sheet) h1{
        border-block-end-width: 0px;
    }
    .-emu-layout body.-emu .dialog div.dialog-content{padding:0;}
     .no-padding > .window-content { /*i have no idea why this doesn't work*/
        padding: 0;
      }