@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');

.tilecontainer > h1.centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    border-block-end-style: none;  
    color: black;
    position: absolute;  
}
.app.window-app.no-padding .window-content {
    padding: 0px !important;
}
.app.window-app.no-overflow .window-content {
    overflow: hidden !important;
}
.app.window-app.display-block .window-content {
    display: block;
}

.superhidden > * {
  display: none !important;
}
