@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
.-emu-layout body.-emu .dialog .dialog-content {
    padding: 0;
    padding-block-start:0;
    }
    .-emu-layout body.-emu .dialog div.dialog-content{
    padding-block-start:0;
    }
    h1{
    border-bottom:0;
    border-block-end-width: 0;}
    h2{
    border-bottom:0;
    border-block-end-width: 0;}
    .-emu-layout body.-emu #sidebar h1, .-emu-layout body.-emu .dialog h1, .-emu-layout body.-emu .window-app:not(.-emu-clean-sheet) h1{
        border-block-end-width: 0px;
    }
    .-emu-layout body.-emu .dialog div.dialog-content{padding:0;}
.tilecontainer > h1.centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    border-block-end-style: none;  
    color: black;
    position: absolute;  
}
.app.window-app.no-padding .window-content {
    padding: 0px !important;
}
.app.window-app.no-overflow .window-content {
    overflow: hidden !important;
}
.app.window-app.display-block .window-content {
    display: block;
}