@font-face {
    font-family: "PP Fraktion Mono";
    src: url("../resources/fonts/PPFraktionMono-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PP Fraktion Mono";
    src: url("../resources/fonts/PPFraktionMono-RegularItalic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "PP Fraktion Mono";
    src: url("../resources/fonts/PPFraktionMono-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "PP Fraktion Mono";
    src: url("../resources/fonts/PPFraktionMono-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}