<textarea name="TextLines" cols="30" rows="10" placeholder="Text shown during the intro. One per line." array></textarea>
<textarea name="AdditionalHTML" cols="30" rows="10" placeholder="HTML to be embedded after the text has stopped rendering. Useful for buttons and such."></textarea>
Text Speed:<input type="number" name="TextSpeed" value="5">
Background Color:<input
      type="color"
      name="BackgroundColor"
      value="#0c0c1d"
    /><br />
    Background Accent:<input
      type="color"
      name="BackgroundAccent"
      value="#1E1E48"
    /><br />
    Text Color:<input type="color" name="TextColor" value="#FFFFFF" /><br />
    Border Color:<input type="color" name="BorderColor" value="#C0C0C0" />