<div id="standby{{RandomID}}">
  <script>
  document.getElementById("standby{{RandomID}}").style.display="none"
  document.getElementById("briefingcontainer{{RandomID}}").style.display="block"
</script>
</div>