<div
      id="container"
      style="height: 100%; width: 100%; background-color: slategray"
    >
      <textarea
        id="briefingtextarea"
        name=""
        rows="4"
        cols="50"
        style="width: 100%; height: 90%;background-color: azure;color: black;"
      ></textarea>
      <button
        style="width: 100%; height: 10%; bottom: 0; position: absolute; left: 0"
        onclick="CallBrief(JSON.parse(document.getElementById('briefingtextarea').value))"
      >
        OPEN BRIEF
      </button>
    </div>