<div style="width: 100%;height: 100%;">
  <div
  style="
    width: 50%;
    position: absolute;
    left: 0;
    overflow-y: scroll;
    height: 100%;
  "
>
  <h3>Intro Options:</h3>
  <select id="introtype">
    {{#each intro}}
    <option value="{{this.Name}}">{{this.DisplayName}}</option>
    {{/each}}
  </select>
  <h3>Briefing Options:</h3>
  <select id="briefingtype">
    {{#each layout}}
    <option value="{{this.Name}}">{{this.DisplayName}}</option>
    {{/each}}
  </select>
  <h3>Intro Data:</h3>
  <div id="introoptions"></div>
  <h3>Briefing Data:</h3>
  <div id="briefingoptions">
    <!-- template -->
    <input type="text" name="ClientName" placeholder="Name of the Client" />
    <div style="display: inline"><input style="width: calc(100% - 50px);" type="text" name="ClientLogo" placeholder="logo of the client"><br/>
    <textarea
      name="ClientDescription"
      placeholder="Description of the Client"
      style="width: 100%; height: 150px"
    ></textarea>
    <textarea
      name="MissionDescription"
      placeholder="Description of the Mission"
      style="width: 100%; height: 150px"
    ></textarea>
    <textarea
      name="AdditionalDescription"
      placeholder="Complementary Mission Info"
      style="width: 100%; height: 150px"
    ></textarea>
    <textarea
      name="PaymentInfo"
      placeholder="Payment Information"
      style="width: 100%; height: 150px"
    ></textarea>
    <textarea
      name="AdditionalPaymentInfo"
      placeholder="Additional Payment Information"
      style="width: 100%; height: 150px"
    ></textarea>
    <input
      type="text"
      name="PaymentFlavour"
      placeholder="Payment Flavour Text"
    />
    <textarea
      name="DeployedForces"
      placeholder='Deployed Forces (Defined As Array)'
      style="width: 100%; height: 150px"
    ></textarea>
    <textarea
      name="Objectives"
      placeholder="Mission Objectives (Defined As Array)"
      style="width: 100%; height: 150px"
    ></textarea>
    <textarea
      name="Notes"
      placeholder="Mission Notes (Defined As Array)"
      style="width: 100%; height: 150px"
    ></textarea>
    Background Color:<input
      type="color"
      name="BackgroundColor"
      value="#0c0c1d"
    /><br />
    Background Accent:<input
      type="color"
      name="BackgroundAccent"
      value="#1E1E48"
    /><br />
    Text Color:<input type="color" name="TextColor" value="#FFFFFF" /><br />
    Border Color:<input type="color" name="BorderColor" value="#C0C0C0" />
    <script>addFilePicker(document.querySelector("input[name=ClientLogo]"))</script></div>
  </div>
  <button id="briefgenbutton" style="width: 100%">Generate Brief</button>
</div>
<div style="width: 50%; position: absolute; right: 0; height: 100%">
  <textarea id="brieftextdisplay" style="width: 100%; height: 94%; resize: none" placeholder="This is where the code for your briefing will show."></textarea>
  <button style="width: 50%; height: 5%"onclick="submitBriefingDialog(JSON.parse(document.getElementById('brieftextdisplay').value));">Save</button><button style="width: 50%; height: 5%" onclick="Briefing(JSON.parse(document.getElementById('brieftextdisplay').value))">Preview</button>
</div>
<script>

  briefobject = {};
  document.getElementById("introtype").addEventListener("change", async function () {
    introptions = document.getElementById("introoptions");
    try {
      introoptions.innerHTML = await renderTemplate(`modules/moss-lancer/templates/briefings/settingtemplates/intro/${this.value}.html`,{})
      inputs = Array.prototype.slice.call(document.getElementById("introoptions").getElementsByTagName("input")).concat(Array.prototype.slice.call(document.getElementById("introoptions").getElementsByTagName("textarea")));
      inputs.forEach(element => {
        if (element.hasAttribute("filepicker")) {
          addFilePicker(element)
        }
      });
    } catch (error) {
      introptions.innerHTML = "";
      console.error(error)
    }
  });
  document.getElementById("briefingtype").addEventListener("change", async function () {
    briefingoptions = document.getElementById("briefingoptions");
    try {
      briefingoptions.innerHTML = await renderTemplate(`modules/moss-lancer/templates/briefings/settingtemplates/layout/${this.value}.html`,{})
      inputs = Array.prototype.slice.call(document.getElementById("briefingoptions").getElementsByTagName("input")).concat(Array.prototype.slice.call(document.getElementById("briefingoptions").getElementsByTagName("textarea")));
      inputs.forEach(element => {
        if (element.hasAttribute("filepicker")) {
          addFilePicker(element)
        }
      });
    } catch (error) {
      briefingoptions.innerHTML = "";
      console.error(error)
    }
  });
  document.getElementById("briefgenbutton").onclick = function () {
    //build a list of the inputs and sort them into the object
    briefingoptions = Array.prototype.slice
      .call(
        document.getElementById("briefingoptions").getElementsByTagName("input")
      )
      .concat(
        Array.prototype.slice.call(
          document
            .getElementById("briefingoptions")
            .getElementsByTagName("textarea")
        )
      );
    briefingoptions.forEach((element) => {
      try {
        briefobject[element.name] = JSON.parse(element.value);
      } catch (error) {
        briefobject[element.name] = element.value;
      }
    });
    briefobject.LayoutType = document.getElementById("briefingtype").value
    if (document.getElementById("introtype").value != "none") {
      briefobject.intro = true;
      briefobject.IntroData = {};
      briefobject["IntroData"].type =
        document.getElementById("introtype").value;
      introoptions = Array.prototype.slice
        .call(
          document.getElementById("introoptions").getElementsByTagName("input")
        )
        .concat(
          Array.prototype.slice.call(
            document
              .getElementById("introoptions")
              .getElementsByTagName("textarea")
          )
        );
      introoptions.forEach((element) => {
        try {
          briefobject["IntroData"][element.name] = JSON.parse(element.value);
        } catch (error) {
          briefobject["IntroData"][element.name] = element.value;
        }
      });
    }
    document.getElementById("brieftextdisplay").value = JSON.stringify(
      briefobject,
      null,
      3
    );
  };
</script>

</div>
