
<div style="height: 5%;display: inline-flex;flex-direction: row;justify-content: center;width:100%" id="EditorNav">
    <button>Briefings</button>
    <button>Warning</button>
    <button>SFX</button>
    <button>Misc.</button>
</div>
<div class="container" style="display: flex;flex-direction:row;height:95%">
    <div style="flex: 1;overflow:scroll;overflow-x:hidden" id="settingdiv">
        <div style="display: flex; align-items: center; justify-content: center; height: 100%; text-align: center; color: #555; padding: 1rem;">
            <span style="font-size: 1.1rem;">pick a category to get started.</span>
        </div>
    </div>
    <div style="flex: 1;">
        <textarea id="editdisplay" style="width: 100%; height:95%;resize: none;" placeholder="This is where the JSON for your Effect will show."></textarea>
        <div id="actioncontainer" style="display: inline-flex;flex-direction: row;justify-content: center;width:100%">
            <button type="button" data-action="save">Save</button> <button type="button" data-action="preview">Preview</button>
        </div>
    </div>
</div>