<input type="hidden" name="Stripes" value="false"/>
<div style="display: inline"><input style="width: calc(100% - 50px);" type="text" name="Emblem" placeholder="Path to your emblem" filepicker><br/></div>
    <input type="text" name="Title" placeholder="Warning Title"><br/>
    <input type="text" name="Action" placeholder="content of Highlighted Text"><br/>
    <input type="text" name="Message" placeholder="Message (lowest line)"><br/>
    Text Color:<input type="color" name="TextColor" value="#FFFFFF" /><br/>
    Border Color:<input type="color" name="BorderColor" value="#000000" /><br/>
    Action Color:<input type="color" name="ActionColor" value="#DFFF00"/>
    <textarea array name="CornerDisplayText" style="width: 100%;height: 150px;" placeholder="Text That shows in the corner (One per line)"></textarea>
    <textarea array name="HorizontalScrollText" style="width: 100%;height: 150px;" placeholder="Text That scrolls horizontally (One per line)"></textarea>